<div class="row">
    <div class="col-md-12 col-xs-12">
        <h3>PLEASE </h3>
        <form #addReview="ngForm">

            <div class="form-group">
                <label for="BookTitle">Book Title:</label>
                <input [(ngModel)]="createReview.title" type="text" class="form-control" name="title" id="title" placeholder="What is the name of the book?" required #BookTitle="ngModel">
                <span class="alert" *ngIf="BookTitle.invalid && BookTitle.touched">Book Title is Requiered!</span>
            </div>

            <div class="form-group">
                <label for="userName">Your Name:</label>
                <input [(ngModel)]="createReview.name" type="text" class="form-control" name="userName" id="userName" placeholder="Enter your name" required #userName="ngModel">
                <span class="alert" *ngIf="userName.invalid && userName.touched">Your Name is Requiered!</span>
            </div>

            <!-- <div class="form-group">
                <label for="date">Date:</label>
                <input [(ngModel)]="createReview.createDate" type="text" class="form-control" name="date" id="date" disabled>
            </div> -->

            <div class="form-group">
                <label for="review">Your Review:</label>
                <textarea [(ngModel)]="createReview.review" name="review" rows="20" type="text" class="form-control" id="review" placeholder="Type your review here..." required #review="ngModel"></textarea>
                <span class="alert" *ngIf="review.invalid && review.touched">Please Write your Review</span>
            </div>

            <div class="form-group">
                <label for="rating">Your Rating:</label>
                <p>( 1 = Not recommeneded : 5 = Very recommended)</p>
                <input [(ngModel)]="createReview.recommend" type="number" class="form-control" name="rating" id="rating" min="1" max="5" placeholder="Your Rating..." required #rating="ngModel">
                <span class="alert" *ngIf="rating.invalid && rating.touched">Please Rate This Book for Recommenedtion to Others</span>
                <span class="alert" *ngIf="rating.touched && (createReview.recommend < 1 || createReview.recommend > 5)">Please Enter Rate From 1 - 5!</span>
            </div>

            <button [disabled]="addReview.invalid || addReview.recommend < 1 || addReview.recommend > 5" type="button" class="btn btn-success" (click)="onCreateReveiw(addReview)">Submit</button>

        </form>

    </div>
</div>