<ng-template appPlaceholder></ng-template>

<div class="row">
    <div class="col-md-12 col-xs-12">
        <h3>PLEASE </h3>
        <form #createBook="ngForm">
            <div *ngIf="!reviewInStorage" class="form-group">
                <label for="title">Book Title:</label>
                <input [(ngModel)]="newBook.title" type="text" class="form-control" name="title" id="title" placeholder="What is the name of the book?" required #title="ngModel">
                <span class="alert" *ngIf="title.invalid && title.touched">Book Title is Requiered!</span>
            </div>

            <div class="form-group">
                <label for="author">Author:</label>
                <input [(ngModel)]="newBook.author" type="text" class="form-control" name="author" id="author" placeholder="Who wrote the book?" required #author="ngModel">
                <span class="alert" *ngIf="author.invalid && author.touched">Book Author is Requiered!</span>
            </div>

            <div class="form-group">
                <label for="publisher">Publisher:</label>
                <input [(ngModel)]="newBook.publisher" name="publisher" type="text" class="form-control" id="publisher" placeholder="Enter the book publisher" required #publisher="ngModel">
                <span class="alert" *ngIf="publisher.invalid && publisher.touched">Book Publisher is Requiered!</span>
            </div>

            <div class="form-group">
                <label for="publishedDate">Published Date:</label>
                <input 
                    [(ngModel)]="newBook.publishedDate" 
                    class="form-control" 
                    name="publishedDate" 
                    id="publishedDate" 
                    bsDatepicker  
                    [outsideClick]="true"
                    [bsConfig]="{ isAnimated: true }"
                    placeholder="Enter published Date"
                >
            </div>

            <div class="form-group">
                <label for="description">Book Description:</label>
                <textarea [(ngModel)]="newBook.description" name="description" rows="15" type="text" class="form-control" id="description" placeholder="Write a short description, what this book is about..."></textarea>
            </div>

            <div class="form-group">
                <label for="categories">Category:</label>
                <input [(ngModel)]="newBook.categories" type="text" class="form-control" name="categories" id="categories" placeholder="Pick category for this book...">
            </div>

            <div class="form-group">
                <label for="imageLinks">Book Image:</label>
                <input [(ngModel)]="newBook.imageLinks" type="text" class="form-control" name="imageLinks" id="imageLinks" placeholder="Enter image link for this book" required #imageLinks="ngModel">
                <span class="alert" *ngIf="imageLinks.invalid && imageLinks.touched">Bbook Image is Requiered!</span>
            </div>

            <div class="form-group">
                <label for="language">Language:</label>
                <input [(ngModel)]="newBook.language" type="text" class="form-control" name="language" id="language" placeholder="In which language this book is written?" required #language="ngModel">
                <span class="alert" *ngIf="language.invalid && language.touched">Please Specify Book's Language!</span>
            </div>

            <div class="form-group">
                <label for="pageCount">Number of Pages:</label>
                <input [(ngModel)]="newBook.pageCount" type="number" class="form-control" name="pageCount" id="pageCount" min="1" placeholder="How many Pages this book has?">
            </div>

            <button [disabled]="!createBook.form.valid" type="button" class="btn btn-success" (click)="onCreateBook(moveToReview)">Submit</button>

        </form>
    </div>
</div>


<!-- <app-create-review-modal [MoveToReview]="reviewModal" *ngIf="variables.fromCreateNewBook"></app-create-review-modal> -->


<ng-template #moveToReview let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 *ngIf="!HomePageService.Exist_Book" class="modal-title" id="modal-basic-title">The Book Has Been Added Successfully!</h4>
        <h4 *ngIf="HomePageService.Exist_Book" class="modal-title" id="modal-basic-title">This Book is Already Exists!</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <h5>Do you want to add a review ?</h5>
    </div>
    <div class="modal-footer">
        <a type="button" class="btn btn-success" [routerLink]="['/main/home/details/add-review']" [queryParams]="{book_title: newBook.title}" (click)="c('Close click')">Yes</a>
        <a type="button" class="btn btn-outline-dark" routerLink="/main/home/booklist" (click)="c('Close click')">No</a>
    </div>
</ng-template>