<div class="list_books scroll">
    <div class="container">
        <div *ngIf="variables.LoadSpiner" style="text-align: center;">
            <app-loading-spinner></app-loading-spinner>
        </div>
        <div *ngIf="variables.errorCode == 400" class="alert alert-danger searchAlert">
            {{HttpErrorResponse}}
        </div>
        <div *ngIf="!variables.LoadSpiner" class="row">
            <div class="col-lg-2 col-md-3 col-xs-12 allbooks" style="width: 92%;" *ngFor="let book of bookList; let i=index">
                <div class="card-deck" (click)="bookDetails(book.id)">
                    <div [ngClass]="{'card': !variables.isMobile ,'': variables.isMobile}">
                        <div class="cardPic">
                            <img class="bookPoster" src="{{book.volumeInfo.imageLinks.smallThumbnail}}" class="card-img-top" alt="" style="width: 100%; height: 250px;">
                        </div>

                        <div class="card-body">
                            <div class="book-title">
                                <h5 class="card-title">{{book.volumeInfo.title | bookTitle:10}}</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>