<div *ngIf="BookReviews == undefined || !BookReviews" class="alert alert-danger searchAlert">
    <p>There is no reviews for this book!</p>
    <p>You are welcome to add the first one.</p>
</div>

<div *ngIf="BookReviews">
    <div class=" upper-section" *ngFor="let review of BookReviews">
        <p class="book-description">
            <span>Name: </span>{{review.name}}
        </p>
        <p class="book-description">
            <span>Review: </span>{{review.review}}
        </p>
        <p class="book-description">
            <span>Rating: </span>{{review.recommend}}
        </p>
        <ng-template #t let-fill="fill">
            <span class="star" [class.full]="fill === 100">
              <span class="half" [style.width.%]="fill">&hearts;</span>&hearts;
            </span>
          </ng-template>
          
          <ngb-rating [(rate)]="review.recommend" [starTemplate]="t" [readonly]="true" max="5"></ngb-rating>
          
          <hr>
          <pre>Rate: <b>{{review.recommend}}</b></pre>
        <p class="book-description">
            <span>Date: </span>{{review.createDate}}
        </p>
    </div>
</div>

<div class="lower-section ">
    <div class="row ">
        <div class="col-md-12 col-xs-12 ">
            <div class="buttons ">
                <button class='btn btn-primary' (click)='close()'>
            <i class="fas fa-pencil-alt "></i> Close
          </button>
            </div>
        </div>
    </div>
</div>